{include file="cabecalho.tpl" titulo="Início"}
{include file="menu-2.tpl"}

	<section class="container-fluid">
		<header class="page-header">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<h1>Início</h1>
				</div>
			</div>
		</header>
	</section>
{include file="rodape.tpl"}