body{
	padding-top:40px;
}


.page-header h1{
	font-size:1.2em;
	margin:0px;
}


/* carregamento */
#caixa_carregamento{
	display:none;
	position:fixed;
	top:0%;
	left:0%;
	right:0%;
	bottom:0%;
	background:#000;
	opacity:0.5;
	z-index:1500;
}

#icone_carregamento{
	position:absolute;
	top:40%;
	left:50%;
	right:0px;
	bottom:0px;
}

/* Divisores das listas de grupos */
.list-group-divisor{
	background:#428bca;
	color:#fff;
}

/* rodape */
#rodape{
	clear:both;
	margin-top:30px;
	border-top:1px solid #dfdfdf;
}

#rodape p{
	text-align:center;
	padding-top:10px;
}

.bg-gray {
	background-color:#d1d1d1; 
	padding:10px;
}